<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AcumaticaLoginUrl" value="https://acumatica.dreamtec.co.za/entity/auth/login" />
    <add key="AcumaticaUserName" value="streamlink" />
    <add key="AcumaticaPassword" value="d70fd782-1d30-48bb-a5f6-2379dac1d05c" />
    <add key="AcumaticaCompany" value="FirstGroupTest" />
    <add key="AcumaticaUrl" value="https://acumatica.dreamtec.co.za/entity/ApplicationData/17.204.0019" />
    <add key="YttriumClientUrl" value="https://yttriumstaging.dreamtec.co.za" />
    <add key="YttriumLoginUrl" value="https://yttriumstaging.dreamtec.co.za/api/SignIn" />
    <add key="YttriumUsername" value="AcumaticaSystem@dreamtec.co.za" />
    <add key="YttriumPassword" value="Money Doesn't Grow On Trees!" />
    <add key="YttriumClientId" value="5C64634E-A3EF-470A-BEFC-21150ACC24D1" />
  </appSettings>
  <connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=acumaticasystem;AccountKey=2NKeoctseUyP58UDH7IEGLvjEwmheiWstryASXBXIy2PrGs9vbfF4kvSFl+M4ivvC6KQZQYvst9LeI3ES36h0A==;" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=acumaticasystem;AccountKey=2NKeoctseUyP58UDH7IEGLvjEwmheiWstryASXBXIy2PrGs9vbfF4kvSFl+M4ivvC6KQZQYvst9LeI3ES36h0A==;" />
  </connectionStrings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>